/*
--- 01 TYPOGRAPHY SYSTEM

- Font size (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
500
600
700

- Line heights

- Letter spacing

--- 02 COLORS

- Primary :#d0ebff;
- Tints :#f6fbff;
#202427 (font color)
#850000; (error border)
#004700; (success border)
#e8f5ff; (even bg color)
#d5edff;(odd bg color)
- Shades :
- Accents :
- Greys :

---- Dark mode
Dashboard list header - #75BBF5;



--- 05 SHADOWS
rgba(0, 0, 0, 0.2);

--- 06 BORDER-RADIUS
9px
11px


--- 07 WHITESPACE

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.dark,
.light {
  transition: all 0.5s;
}

html {
  /*
  DEFAULT font size : 16px
  Custom defined default font size : 10px
  10px / 16px = 0.625 (62.5%)

  1rem = 10px
  */
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.container--login {
  max-width: 50rem;
}

.btn {
  padding: 1.2rem 2.4rem;
  display: inline-block;
  width: 100%;
  border-radius: 9px;
  font-size: 2.4rem;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
  border: none;
}

.hidden {
  display: none !important;
}

/* ************************* */
/* Grid  */
/* ************************* */
.grid {
  display: grid;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--2-rows {
  grid-template-rows: repeat(2, 1fr);
}
.grid--3-rows {
  grid-template-rows: repeat(2, 1fr);
}
.grid--4-rows {
  grid-template-rows: repeat(2, 1fr);
}
.grid--5-rows {
  grid-template-rows: repeat(2, 1fr);
}
/* ************************* */
/* Header section  */
/* ************************* */

.section-header {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4.8rem;
  text-transform: uppercase;
}

.heading-primary {
  font-size: 7.4rem;
  font-weight: 700;
  letter-spacing: -0.5px;
}
/* ************************* */
/* Footer section  */
/* ************************* */
.section-footer {
  padding: 4.8rem;
}
