/* 1rem = 1em = 16px */
/**********************************/
/* BELOW 1344px (Larger desktops) */
/* 1618 (container size) / 16 (default
font size = 102em  */
/**********************************/
@media (max-width: 102em) {
  html {
    /* 9px / 16px = (56.25%) [default font-size: 10] */
    font-size: 59.37%;
  }

  .user {
    margin-bottom: 6rem;
  }
}
/**********************************/
/* BELOW 1531px (Larg desktops) */
/* 1531 (container size) / 16 (default
font size = 96em  */
/**********************************/
@media (max-width: 96em) {
  .user {
    margin-bottom: 6rem;
  }

  .user-name {
    font-size: 2.6rem;
  }

  .user-img {
    height: 18rem;
  }
}

/**********************************/
/* BELOW 1486px (Smaller desktops) */
/* 1486 (container size) / 16 (default
font size = 93em  */
/**********************************/
@media (max-width: 93em) {
  html {
    /* 8px / 16px = (50%) [default font-size: 10] */
    font-size: 50%;
  }

  .user {
    margin-bottom: 10.4rem;
  }

  .user-name {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .user-img {
    height: 22rem;
  }

  .nav-menu--list {
    gap: 3rem;
  }
}

/**********************************/
/* BELOW 1402px (Landscape Tablet) */
/* 1402 (container size) / 16 (default
font size = 88em  */
/**********************************/
