/* ************************* */
/* Login section */
/* ************************* */
.section-login {
  padding: 6.4rem 9.6rem 9.6rem 9.6rem;
}

.login {
  padding: 2.4rem 4.8rem 4.8rem 4.8rem;
  border-radius: 11px;
}

.login-header {
  font-size: 3.2rem;
  font-weight: 600;
  padding: 1.2rem 0;
  margin-bottom: 2.4rem;
  text-align: center;
}

.login-form {
  /* max-width: 48rem; */
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  font-family: inherit;
}

.login-form label {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1.2rem;
}

.login-form input,
.todo-input input {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  border: none;
  display: inline-block;
  border-radius: 9px;
}

.login-form-input {
  position: relative;
  padding-bottom: 10px;
}

.icon {
  height: 2.4rem;
  width: 2.4rem;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-1rem, 6rem);
  visibility: hidden;
}

.icon--theme {
  visibility: visible;
  right: 10rem;
  top: 10rem;
  cursor: pointer;
}

.active {
  visibility: visible !important;
}

.error-message {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0 1rem;
  visibility: hidden;
}

/* ************************* */
/* Dashboard section  */
/* ************************* */
.section-dashboard {
  padding: 9.6rem;
}

.grid--dashboard {
  /* max-height: 80em; */
  /* max-height: 80vh; */
  height: 60vh;
  grid-template-rows: 1fr 2fr;
  grid-gap: 1.6rem;
}

.todo-input {
  grid-gap: 1.6rem;
  grid-template-columns: 4fr 1fr;
  padding: 1.6rem;
  border-radius: 11px;
  position: relative;
}

.input-header {
  font-size: 3rem;
  font-weight: 600;
  padding-left: 1.2rem;
}

.todo-input--warning {
  padding-left: 1.2rem;
  font-size: 1.6rem;
  font-weight: 600;
  visibility: hidden;
  position: absolute;
  bottom: 2px;
  left: 18px;
}

.date {
  font-size: 2rem;
  font-weight: 500;
}

.input-text {
  grid-row: 2;
}

.btn--todo {
  grid-row: 2;
  padding: 1.2rem 2.4rem;
}

.todo-display {
  border-radius: 11px;
  overflow-y: scroll;
}

.task-list--header {
  display: grid;
  grid-template-columns: 5% 50% 20% 20% 5%;
  align-items: center;
  /* justify-items: center; */
  padding: 1.2rem;
  margin-bottom: 1.2rem;
}

.task-list--header--element {
  font-size: 2.4rem;
  font-weight: 500;
  text-transform: capitalize;
  padding: 0 1.2rem;
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.tasks li {
  list-style: none;
  font-size: 2rem;
  font-weight: 500;
  padding: 1.2rem;
  border-radius: 11px;
  display: grid;
  grid-template-columns: 5% 50% 20% 20% 5%;
  cursor: pointer;
  align-items: center;
}

.icon--trash,
.icon--list {
  height: 2.4rem;
  width: 2.4rem;
}

.no-select {
  user-select: none;
}

.tasks--added-task * {
  padding: 0 1.2rem;
}

.strike-through {
  text-decoration: line-through;
}

/* NAVIGATION  */

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.user-name {
  font-size: 2.4rem;
  font-weight: 300;
}

.user-name strong {
  font-weight: 600;
}

.user-img {
  height: 6rem;
  border-radius: 50%;
}

.nav-menu--list {
  display: flex;
  gap: 4.8rem;
  justify-content: space-between;
  transition: all 0.3s;
}

.nav-menu--list li {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}

/* .nav-menu--list li:hover {
  text-decoration: line-through;
} */

.nav-menu--list a {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-icon {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 1rem;
}

.footer-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0 8rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.icon--footer {
  width: 2.4rem;
  height: 2.4rem;
}
