/* ************************* */
/* Login section */
/* ************************* */
.section-login {
  background-color: #d0ebff;
  height: 80vh;
  padding-top: 12rem;
}

.login {
  background-color: #f6fbff;
  padding: 2.4rem 4.8rem 4.8rem 4.8rem;
  border-radius: 11px;
  box-shadow: 0 0 36px 4px rgba(0, 0, 0, 0.2);
}

.login-header {
  font-size: 3.2rem;
  font-weight: 600;
  padding: 1.2rem 0;
  margin-bottom: 2.4rem;
  text-align: center;
}

.login-form {
  /* max-width: 48rem; */
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  font-family: inherit;
}

.login-form label {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1.2rem;
}

.login-form input,
.todo-input input {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  border: none;
  display: inline-block;
  border-radius: 9px;
}

.login-form-input {
  position: relative;
}

.icon {
  height: 2.4rem;
  width: 2.4rem;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-1rem, 6rem);
  visibility: hidden;
}

.icon--error {
  color: #850000;
}

.icon--success {
  color: #004700;
}

.active {
  visibility: visible;
}

.error-message {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0 1rem;
  color: #850000;
  visibility: hidden;
}

.success input {
  border: 2px solid #004700;
}

.failure input {
  border: 2px solid #850000;
}

/* ************************* */
/* Dashboard section  */
/* ************************* */
.section-dashboard {
  background-color: #d0ebff;
  height: 80vh;
  padding: 6.4rem 9.6rem 9.6rem 9.6rem;
}

.grid--dashboard {
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 150px 450px;
  grid-gap: 1.6rem;
  min-height: 600px;
}

.todo-input {
  background-color: #f6fbff;
  grid-gap: 1.6rem;
  grid-template-columns: 4fr 1fr;
  padding: 2.4rem;
  border-radius: 11px;
}

.input-header {
  font-size: 2.4rem;
  font-weight: 500;
}

.date {
  font-size: 1.8rem;
  font-weight: 500;
}

.input-text {
  grid-row: 2;
}

.btn--todo {
  grid-row: 2;
  padding: 1.2rem 2.4rem;
}

.todo-display {
  background-color: #f6fbff;
  padding: 2.4rem;
  border-radius: 11px;
  overflow-y: scroll;
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.tasks li {
  list-style: none;
  font-size: 1.8rem;
  padding: 1.2rem;
  border-radius: 11px;
  display: flex;
  cursor: pointer;
  justify-content: flex-start;
  align-items: center;
}

.tasks li:nth-child(even) {
  background-color: #e8f5ff;
}

.tasks li:nth-child(odd) {
  background-color: #d5edff;
}

.icon--trash,
.icon--list {
  height: 2.4rem;
  width: 2.4rem;
}

.icon--trash {
  margin-left: auto;
  color: #850000;
}

.no-select {
  user-select: none;
}

.no-select p {
  width: 100%;
}

.strike-through {
  text-decoration: line-through;
}

/* NAVIGATION  */
.side-menu {
  background-color: #f6fbff;
  border-radius: 9px;
  grid-row: 1/3;
  padding: 2.4rem;
}
.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  margin-bottom: 4.8rem;
}

.user-name {
  font-size: 2.4rem;
  font-weight: 300;
}

.user-name strong {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}

.user-img {
  height: 15rem;
  border-radius: 50%;
}

.nav-menu--list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: space-between;
}

.nav-menu--list li {
  list-style: none;
  font-size: 2.4rem;
  font-weight: 500;
  padding: 1.2rem;
  border-radius: 9px;
  background-color: #a5d8ff;
  cursor: pointer;
  transition: all 0.3s;
  width: 100%;
}

.nav-menu--list li:hover {
  background-color: #339af0;
}

.nav-menu--list li:last-child {
  margin-bottom: 1.2rem;
}

.nav-menu--list a {
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #2a2f33;
  user-select: none;
}

.nav-icon {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 1rem;
}
