/* ------------------------------------------------- */
/* DARK THEME */

/* ---  COLORS

- Primary :#d0ebff;
- Tints :#f6fbff;
#2a2f33; (Font color)
#850000; (error border)
#004700; (success border)
#e8f5ff; (even bg color)
#d5edff;(odd bg color)
- Shades :
- Accents :
- Greys :


--- 05 SHADOWS
rgba(0, 0, 0, 0.2); */

.error-message.dark {
  color: #ed4747;
}

.icon--error.dark {
  color: #870d0d;
}

.icon--success.dark {
  color: #00e000;
}

.success.dark input {
  border: 2px solid #00e000;
}

.failure.dark input {
  border: 2px solid #870d0d;
}

/* ************************* */
/* Dashboard section  */
/* ************************* */

.section-dashboard.dark,
.section-header.dark,
.section-login.dark,
.login.dark {
  background-color: #111111ff;
}

.todo-display.dark,
.todo-input.dark,
.section-footer.dark {
  background-color: #212224ff;
}

.tasks.dark li:nth-child(even) {
  background-color: #f599b8;
}

.tasks.dark li:nth-child(odd) {
  background-color: #c9a9e5;
  color: #000000;
}

.task-list--header.dark {
  background-color: #0d0e0e;
  color: #fff;
}

.tasks--added-task.dark ion-icon {
  color: #000000;
}

/* NAVIGATION  */
.btn.dark {
  background-color: #043e86;
  color: #fff;
}

.nav-menu--list.dark li:hover,
.nav-menu--list.dark li:active {
  color: #89c5f5;
}

/* .nav-menu--list.dark li:hover, */
.btn.dark:hover,
.btn.dark:active {
  background-color: #339af0;
  color: #000;
}

.section-header.dark,
.section-footer.dark,
.todo-input.dark,
.todo-display.dark,
.login.dark {
  box-shadow: 0 0 5px 2px rgb(255 255 255 / 20%);
}

.section-header.dark .user-name,
.section-footer.dark .heading-primary,
.todo-input.dark,
.todo-input.dark .date,
.todo-input.dark .input-header,
.nav-menu--list.dark li,
.nav-menu--list.dark a:link,
.nav-menu--list.dark a:visited,
.tasks--added.dark,
.login.dark,
.icon--theme.dark,
.section-footer.dark .footer-item {
  color: #ffffff;
}

.input-text.dark {
  transition: none;
}

.todo-input--warning.dark.active {
  transition: none;
  color: #ed4747;
  visibility: hidden;
}

.section-footer.dark .icon--footer {
  color: #89c5f5;
}

/* ------------------------------------------------- */
/* Light THEME */

/* ---  COLORS

- Primary :#d0ebff;
- Tints :#f6fbff;
#2a2f33; (Font color)
#850000; (error border)
#004700; (success border)
#e8f5ff; (even bg color)
#d5edff;(odd bg color)
- Shades :
- Accents :
- Greys :


--- 05 SHADOWS
rgba(0, 0, 0, 0.2); */

.icon--error.light,
.error-message.light {
  color: #850000;
}

.icon--success.light {
  color: #004700;
}

.success.light input {
  border: 2px solid #004700;
}

.failure.light input {
  border: 2px solid #850000;
}

.section-header.light,
.section-dashboard.light,
.section-login.light {
  background-color: #d0ebff;
}

.todo-display.light,
.todo-input.light,
.login.light {
  background-color: #f6fbff;
}

.section-footer.light {
  background-color: #dde2e6;
}

.tasks.light li:nth-child(even) {
  background-color: #e8f5ff;
}

.tasks.light li:nth-child(odd) {
  background-color: #d5edff;
}

.task-list--header.light {
  background-color: #094272;
  color: #ffffff;
}

.tasks--added-task.light ion-icon {
  color: #000000;
}

/* NAVIGATION  */
.btn.light {
  background-color: #a5d8ff;
  color: #202427;
}

.nav-menu--list.light li:hover,
.nav-menu--list.light li:active {
  color: #094272;
}

.btn.light:hover,
.btn.light:active {
  background-color: #75bbf5;
  color: #000000;
}

.section-header.light,
.section-footer.light,
.todo-input.light,
.todo-display.light,
.btn--theme {
  box-shadow: 0 0 36px 4px rgba(0, 0, 0, 0.2);
}

.section-header.light .user-name,
.section-header.light .heading-primary,
.todo-input.light,
.todo-input.light .date,
.todo-input.light .input-header,
.nav-menu--list.light li,
.nav-menu--list.light a:link,
.nav-menu--list.light a:visited,
.section-footer.light .footer-item {
  color: #202427;
}

.todo-input--warning.light.active {
  transition: none;
  color: #850000;
  visibility: hidden;
}

.section-footer.light .icon--footer {
  color: #05305c;
}
